* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background: darkslategray;
  background: url("./assets/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  border-radius: 10px;
  /* color:white; */
  padding-top: 4rem;
  display: flex;
  gap: 4rem;
  height: 95%;
  align-items: center;
  font-size: larger;
  width: 30rem;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255, 0.562), transparent);
  backdrop-filter: blur(4px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.temp {
  display: flex;
  align-items: center;
  justify-content: space-center;
  margin: 2rem 0rem;
  /* border: 1px solid black; */
  padding: 2rem;
  gap: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
  backdrop-filter: blur(4px);
}
.temp img {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.562));
}
.t-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.562)); */
}
.t-data h5 {
  font-weight: 500;
}
.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button {
  height: 2rem;
  border: none;
  outline: none;
}
input {
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356) inset;

  /* color: white; */
}

button {
  border-radius: 10px;
  margin-left: 0.2rem;
  padding: 0 1rem;
  cursor: pointer;
  background-color: rgb(14, 163, 14);

  color: white;
}
button:hover {
  background-color: rgb(41, 141, 41);
}

@media only screen and (max-width: 600px) {
  .box {
    width: 90%;
  }
}
